<!-- Overlay menus for accented characters -->
<div id="virtualKeyboardChromeExtensionOverlayChe" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="e">e</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&eacute;" _keyC="&Eacute;">&eacute;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&egrave;" _keyC="&Egrave;">&egrave;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ecirc;" _keyC="&Ecirc;">&ecirc;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&euml;" _keyC="&Euml;">&euml;</li>
	</ul>
</div>
<div id="virtualKeyboardChromeExtensionOverlayChu" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="u">u</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&uacute;" _keyC="&Uacute;">&uacute;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ugrave;" _keyC="&Ugrave;">&ugrave;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ucirc;" _keyC="&Ucirc;">&ucirc;</li>
	</ul>
</div>
<div id="virtualKeyboardChromeExtensionOverlayChi" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="i">i</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&iacute;" _keyC="&Iacute;">&iacute;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&igrave;" _keyC="&Igrave;">&igrave;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&icirc;" _keyC="&Icirc;">&icirc;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&iuml;" _keyC="&Iuml;">&iuml;</li>
	</ul>
</div>
<div id="virtualKeyboardChromeExtensionOverlayCho" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="o">o</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&oacute;" _keyC="&Oacute;">&oacute;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ograve;" _keyC="&Ograve;">&ograve;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ocirc;" _keyC="&Ocirc;">&ocirc;</li>
	</ul>
</div>
<div id="virtualKeyboardChromeExtensionOverlayCha" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="a">a</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&aacute;" _keyC="&Aacute;">&aacute;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&agrave;" _keyC="&Agrave;">&agrave;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&acirc;" _keyC="&Acirc;">&acirc;</li>
	</ul>
</div>
<div id="virtualKeyboardChromeExtensionOverlayChc" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="c">c</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ccedil;" _keyC="&Ccedil;">&ccedil;</li>
	</ul>
</div>
<div id="virtualKeyboardChromeExtensionOverlayChn" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="n">n</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton kdbCase" _action="key" _key="&ntilde;" _keyC="&Ntilde;">&ntilde;</li>
	</ul>
</div>
<div id="virtualKeyboardChromeExtensionOverlayChp" _state="closed" class="virtualKeyboardChromeExtensionOverlay" style="display: none;">
	<ul class="virtualKeyboardChromeExtensionOverlayKeysUl">
		<li class="virtualKeyboardChromeExtensionOverlayButton" _action="key" _key="&uuml;">&uuml;</li>
		<li class="virtualKeyboardChromeExtensionOverlayButton" _action="key" _key="&egrave;">&egrave;</li>
	</ul>
</div>

<!-- Main keyboard layout -->
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdH kbdClick" _key="&sect;"><span>&sect;</span></td>
		<td class="kbdH kbdClick" _key="1"><span>1</span></td>
		<td class="kbdH kbdClick" _key="2"><span>2</span></td>
		<td class="kbdH kbdClick" _key="3"><span>3</span></td>
		<td class="kbdH kbdClick" _key="4"><span>4</span></td>
		<td class="kbdH kbdClick" _key="5"><span>5</span></td>
		<td class="kbdH kbdClick" _key="6"><span>6</span></td>
		<td class="kbdH kbdClick" _key="7"><span>7</span></td>
		<td class="kbdH kbdClick" _key="8"><span>8</span></td>
		<td class="kbdH kbdClick" _key="9"><span>9</span></td>
		<td class="kbdH kbdClick" _key="0"><span>0</span></td>
		<td class="kbdH kbdClick" _key="'"><span>'</span></td>
		<td class="kbdH kbdClick" _key="^"><span>^</span></td>
		<td class="kbdHB kbdClick" _key="Backspace"><span>Backspace</span></td>
	</tr>
</table>	
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdH kdbCase kbdClick" _key="q"><span>q</span></td>
		<td class="kbdH kdbCase kbdClick" _key="w"><span>w</span></td>
		<td class="kbdH kdbCase kbdClick kMenu" _key="e" _menu="Che" _hoverOnly="true"><span>e</span></td>
		<td class="kbdH kdbCase kbdClick" _key="r"><span>r</span></td>
		<td class="kbdH kdbCase kbdClick" _key="t"><span>t</span></td>
		<td class="kbdH kdbCase kbdClick" _key="z"><span>z</span></td>
		<td class="kbdH kdbCase kbdClick kMenu" _key="u" _menu="Chu" _hoverOnly="true"><span>u</span></td>
		<td class="kbdH kdbCase kbdClick kMenu" _key="i" _menu="Chi" _hoverOnly="true"><span>i</span></td>
		<td class="kbdH kdbCase kbdClick kMenu" _key="o" _menu="Cho" _hoverOnly="true"><span>o</span></td>
		<td class="kbdH kdbCase kbdClick" _key="p"><span>p</span></td>
		<td class="kbdH kbdClick kMenu" _key="&uuml;" _menu="Chp" _hoverOnly="true"><span>&uuml;</span></td>
		<td class="kbdH kbdClick" _key="&quot;"><span>&quot;</span></td>
	</tr>
</table>	
<table cellpadding="3" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td style="width: 1px"><span></span></td>
		<td class="kbdH kdbCase kbdClick kMenu" _key="a" _menu="Cha" _hoverOnly="true"><span>a</span></td>
		<td class="kbdH kdbCase kbdClick" _key="s"><span>s</span></td>
		<td class="kbdH kdbCase kbdClick" _key="d"><span>d</span></td>
		<td class="kbdH kdbCase kbdClick" _key="f"><span>f</span></td>
		<td class="kbdH kdbCase kbdClick" _key="g"><span>g</span></td>
		<td class="kbdH kdbCase kbdClick" _key="h"><span>h</span></td>
		<td class="kbdH kdbCase kbdClick" _key="j"><span>j</span></td>
		<td class="kbdH kdbCase kbdClick" _key="k"><span>k</span></td>
		<td class="kbdH kdbCase kbdClick" _key="l"><span>l</span></td>
		<td class="kbdH kdbCase kbdClick" _key="&ouml;" _keyC="&Ouml;"><span>&ouml;</span></td>
		<td class="kbdH kdbCase kbdClick" _key="&auml;" _keyC="&Auml;"><span>&auml;</span></td>
		<td class="kbdH kbdClick" _key="$"><span>$</span></td>
		<td class="kbdHBE kbdClick" _key="Enter"><span>Enter</span></td>
	</tr>
</table>	
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>
		<td class="kbdShift kbdClick" _key="Shift"><span class="kShift"></span></td>
		<td class="kbdH kbdClick" _key="&lt;"><span>&lt;</span></td>
		<td class="kbdH kdbCase kbdClick" _key="y"><span>y</span></td>
		<td class="kbdH kdbCase kbdClick" _key="x"><span>x</span></td>
		<td class="kbdH kdbCase kbdClick kMenu" _key="c" _menu="Chc" _hoverOnly="true"><span>c</span></td>
		<td class="kbdH kdbCase kbdClick" _key="v"><span>v</span></td>
		<td class="kbdH kdbCase kbdClick" _key="b"><span>b</span></td>
		<td class="kbdH kdbCase kbdClick kMenu" _key="n" _menu="Chn" _hoverOnly="true"><span>n</span></td>
		<td class="kbdH kdbCase kbdClick" _key="m"><span>m</span></td>
		<td class="kbdH kbdClick" _key=","><span>,</span></td>
		<td class="kbdH kbdClick" _key="."><span>.</span></td>
		<td class="kbdH kbdClick" _key="-"><span>-</span></td>
		<td class="kbEmailInput kbdH kbdClick" _key="@"><span>@</span></td>
		<td class="kbdShift kbdClick" _key="Shift"><span class="kShift"></span></td>
	</tr>
</table>
<table cellpadding="2" class="virtualKeyboardChromeExtensionMainKeys">
	<tr>	
		<td class="kbdD kbdClick" _key="&123"><span class="kAbc">&123</span></td>
		<td width="10" id="settingsButton" _menu="Settings" class="kbdD kbdClick kSettings kMenu" _key="empty"><span></span></td>
		<td class="kbdS kbdClick" _key=" "><span></span></td>
		<td class="kbdD kbdClick" _key="Close"><span class="kClose"></span></td>
	</tr>
</table>
